main{
    width: 940px;
    margin: 0 auto;
    
}

form{
    margin: 40px 0;
}
label{
    display: block;
}
form input{
    display: block;
    padding: 5px 5px;
    width: 470px;
    margin: 5px 0 10px 0;
}