header{
    background: url("../img/bg.jpg");
}
.Imagem_cabecalho{
    width: 200px;
}
.caixa{
    width: 1300px;
    margin: 0 auto;
    position: relative;
}

.Cabecalho_Lista{
    list-style: none;
}
nav{
    position: absolute;
    top: 43px;
    right: 0%;
}
nav li{
    display: inline;
    margin-left: 20px;
    margin-right: 20px;
}
nav a{
    text-transform: uppercase;
    color: black;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}
body{
    background-color: #c1cdc1;
}
.caixa a:hover{
    color: rgb(147,19,10);
    text-decoration: underline;
}
*::-webkit-scrollbar {
    width: 0px;
}
footer{    
    text-align: center;
    background: url("../img/bg.jpg");
    padding: 20px;    
}
.imagem-rodape{
    width: 10%;
}
.copyright {    
    font-size: 13px;
    margin-top: 12px;
}