body{
    background-color: #c1cdc1;
}
.banner{
    width: 100% ;
}
a{
    text-align: left;
}

b{
    font-size: 20px;
}

c{
    color: red;
}

p{
    padding-left: 5%;
}

.beneficios{
    display: inline-block;
    margin-right: 35%;
    vertical-align: top;
    list-style: circle;
}

.beneficiosimg{
    width: 35%;
}

